<div class="container">
	<ng-template #nodes></ng-template>
</div>
<div class="buttonStyle">
  <button style="height: 45px;cursor: pointer;" (click)="saveNodeJson()">Save Flow Node JSON</button>
</div>



<div *ngIf='isPopUp' class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">Add Branch Condition</h5>
      </div>
      <div class="modal-body">
          <input type='text' [(ngModel)]='nodeName' />
      </div>
      <div class="modal-footer">
        <button type="button" (click)='onPopUpClose()' class="btn btn-warning" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)='submitPopUp()' class="btn btn-warning" data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>