html,
body {
  height: 100%;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
}
.panel-one {
  height: 100vh;
  width: 20%;
  border: 1px solid grey;
}
button {
  height: 40px;
  width: 100px;
}
.panel-two {
  height: 100vh;
  width: 80%;
  left: 50%;
  border: 1px solid grey;
}
.vl {
  border-left: 3px solid black;
  height: 100vh;
  left: 50%;
}

p {
  font-family: Lato;
}

.btn-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.btn-container button{
  padding: 10px;
  width: 140px;
  line-height: 1;
  border: 1px solid #b2b2b2;
}